
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
/* font-family: 'Overpass', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/* font-family: 'Inconsolata', monospace; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}


.form-container {
	min-height: 100vh;
	width: 100%;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 40px;
}

#title {
	font-family: 'Overpass', sans-serif;
	font-size: 32px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	padding-bottom: 10px;
}

#description {
	font-family: 'Inconsolata', monospace;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-bottom: 20px;
}

#survey-form {
	width: 600px;
	height: 1000px;
	margin: 0 auto;
	background: rgba(255, 255, 255, .1);
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	backdrop-filter: blur(10px);
}






























